.root {
    margin: 20px;
}

.winnerCell {
    background-color:green; 
    color: white !important;
}


.teamGrid {
    padding: 20;
}


.MuiAvatar-img {
    width: auto !important;
}

.played {
    border: 2px solid green !important;
}

.yetToPlay {
    border: 2px solid orange !important;
}

.captain {
    border: 3px solid green !important;
}

.regularChip {
    border: 1px solid black !important;
}

.MuiBadge-badge {
    width: 17px!important;
    height: 14px!important;
    min-width: 10px !important;
    background-color: green !important;
}

.chipDiv {
  margin: 5px 5px 5px 0px;
}

.MuiAccordionDetails-root{
    display: block !important;
}